language: ruby
branches:
  only:
  - master
rvm:
- 2.1
script:
- bundle exec jekyll build
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: _site
  fqdn: steven.thuriot.be
  committer-from-gh: true
  on:
    branch: master
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
