@media print {
	#orbs-bar {
		display: none!important;
	}

	footer {
		display: none!important;
	}

	main {
		padding: 2em!important;
	}

	.post {
		width: 100%!important;
		max-width: unset!important;
	}

	.disqus {
		display: none!important;
	}

    .pagination {
        display: none!important;
    }

    footer.post-meta {
        a::after {
            content: '';
        }
    }

	* { /* Print Background Images */
		-webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
		color-adjust: exact !important; /*Firefox*/
	}
}